<p id="notice"><%= notice %></p>

<h1>Listing Prlinks</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Operator</th>
      <th>Link1</th>
      <th>Link2</th>
      <th>Link3</th>
      <th>Link4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prlinks.each do |prlink| %>
      <tr>
        <td><%= prlink.region_id %></td>
        <td><%= prlink.operator_id %></td>
        <td><%= prlink.link1 %></td>
        <td><%= prlink.link2 %></td>
        <td><%= prlink.link3 %></td>
        <td><%= prlink.link4 %></td>
        <td><%= link_to 'Show', prlink %></td>
        <td><%= link_to 'Edit', edit_prlink_path(prlink) %></td>
        <td><%= link_to 'Destroy', prlink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prlink', new_prlink_path %>
